{% extends "base.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<!-- show all teacher subject list -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
                <div class="page-login-form box">
                    <ul class="list-group" style="text-align: center !important; padding: 4px 10px;">
                        <li class="list-group-item active">Your Subjects</li>
                        {% for sub in teacher_subjects %}
                        <li class="list-group-item ">{{sub}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Content section Start -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
                <div class="page-login-form box">
                    <h3>
                        Manage Your Subjects
                    </h3>
                    <form role="form" class="login-form" method="POST" style="padding: 30px 10px !important;">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon fa fa-book"></i>
                                <input type="text" name="subject_id" class="form-control" placeholder="Enter Subject ID"
                                    required>
                            </div>
                        </div>

                        <!-- CheckBox   -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioOptions" id="inlineRadio1"
                                value="add" required>
                            <label class="form-check-label" for="inlineRadio1">Add Subject</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RadioOptions" id="inlineRadio2"
                                value="remove">
                            <label class="form-check-label" for="inlineRadio2">Remove Subject</label>
                        </div>

                        <button type="submit" class="btn btn-common log-btn"
                            style="background-color: rgba(226, 48, 48, 0.815) !important; margin-top: 22px !important;">Submit</button>
                    </form>

                    {% for msg in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section End -->

<!-- Start Services Section -->
<div class="container">
    <div class="row">
        <ul class="list-group" style="text-align: center !important; padding: 4px 10px;">
            <li class="list-group-item active">All Available Subjects</li>
            {% for sub in subjects %}
            <li class="list-group-item "><span
                    style='background-color:rgba(170, 214, 243, 0.719);padding: 2px 2px;'>{{sub.id}} :</span>
                {{sub.subject_name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- End Services Section -->
<br><br>
<!-- Location Section Start -->
<section class="location">
</section>
<!-- Location Section End -->
</div>
{% endblock content %}