<section id="counter" style="background:none;background-color:#eee !important;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
            <div class="icon">
              <span>
                <i class="fa fa-check-square"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter"> {{ no_of_semesters }} </h3>
              <p>Semesters</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
            <div class="icon">
              <span>
                <i class="fa fa-book"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_subjects}}</h3>
              <p>Subjects</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
            <div class="icon">
              <span>
                <i class="fa fa-graduation-cap"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_students}}</h3>
              <p>Students</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="2s">
            <div class="icon">
              <span>
                <i class="fa fa-users"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_teachers }}</h3>
              <p>Teachers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Section End -->
