
{% extends "base.html" %}



{% block content %}


  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="overlay">
      <div class="container">
        <div class="main-text">
          <h1 class="intro-title">Welcome <span style="color: #3498DB"> {{ student_name }} </span></h1>
          <p class="sub-title">Please Check Your Semester Exam Results.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- end intro section -->

  <div class="wrapper">
    <!-- Categories Homepage Section Start -->
    <section id="categories-homepage">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Your Results In Semesters</h3>
          </div>


          {% for semester, marks in mark_list.items %}

          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="category-box border-1 wow fadeInUpQuick" data-wow-delay="0.3s">
              <div class="category-header">
                <a href="category.html">
                  <h4>{{ semester }} </h4>
                </a>
              </div>
              <div class="category-content">
                <ul>
                 
                  {% for mark in marks %}
                 
                  <li>
                    <a href="">{{ mark.subject }}</a>
                    <sapn class="category-counter">{{ mark.marks_obtained }}</sapn>
                    <sapn class="category-counter">{{ mark.grade }}</sapn>
                  </li>
                  
                  {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>


        {% endfor %}

          


        </div>
      </div>
    </section>
    <!-- Categories Homepage Section End -->

    

    <!-- Start Services Section -->
    {% include "service.html" %}
    <!-- End Services Section -->

    <!-- Location Section Start -->
    <section class="location">
      <div class="container">
      </div>
    </section>
    <!-- Location Section End -->
  </div>

  <!-- Counter Section Start -->
  <section id="counter">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
            <div class="icon">
              <span>
                <i class="lnr lnr-tag"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter"> {{ no_of_semesters }} </h3>
              <p>Semesters</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
            <div class="icon">
              <span>
                <i class="lnr lnr-map"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_subjects}}</h3>
              <p>Subjects</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
            <div class="icon">
              <span>
                <i class="lnr lnr-users"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_students}}</h3>
              <p>Students</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="counting wow fadeInDownQuick" data-wow-delay="2s">
            <div class="icon">
              <span>
                <i class="lnr lnr-license"></i>
              </span>
            </div>
            <div class="desc">
              <h3 class="counter">{{ no_of_teachers }}</h3>
              <p>Teachers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Section End -->

  {% endblock content %}